version: "3.9"

services:
  server:
    build:
      context: ./server
    container_name: secure-chat-server         
    ports:
      - "8080:8080"          
      - "9090:9090/udp"       
      - "9001:9001/tcp"        
      - "9002:9002/udp"        

  client:
    build:
      context: ./client
    container_name: secure-chat-client        
    depends_on:
      - server
    ports:
      - "8501:8501"            
